# gui
tqdm

# webscrap
aiohttp


## test commands
# python manage.py test --verbosity=2
pytest
pytest-asyncio
aioresponses

# python3.11 -m venv venv
# python.exe -m pip install --upgrade pip

# pip install -r requirements.txt
# pip install -r requirements.txt --upgrade

